//custom styles for theme menu

.go-c-header{
    
    .sticky{
       box-shadow: $box-shadow-header;
    }
}

.top-bar, .top-bar ul{
    background-color: get-color(accent);   
}

.go-c-topnav{
    
    a {
        padding: 0;
        &:hover,
        &:focus{
            background-color: inherit !important;
        }        
    }

    
    .go-c-topnav__title{
        padding: 0 1rem;
    }    
    
}

#menu-main-menu-1 {
    
    .menu-item{
        margin: auto .5em;
        transition: $transition-speed;
        
        &:hover a,
        &:focus a{
            color: rgba( $white, 0.8 );
        }
        
        &:not(.current-menu-item){
            transition: $transition-speed;
            position: relative;
            color: rgba( $white, 0.5 );
            
            &:after{
                    transition: $transition-speed;            
                    opacity: 0;
                    content: '';
                    width: 100%;
                    height: 3px;
                    bottom: 0;
                    position: absolute;
                    background: white;
                    box-sizing: border-box;
                    
                }
            &:hover:after,
            &:focus:after{
                opacity: .5;
            }
            
            &:active{
                background-color: rgba( $white, 0.2 );
            }        
        }
        
    }

}




.menu .active>a, .menu .is-active>a{
    transition: $transition-speed;
    
    &:hover,
    &:focus{
        background-color: $secondary-color;
    }
    
}


/************
Off-canvas Styling
*/

.off-canvas {
    display: flex;
    align-items: center;
    justify-content: center;
    .go-c-off-canvas{
        
    }
}

.title-bar-title a {
    color: white;
    margin-left: $spacer;
}